#forgot-password {
    font-size: 1.3rem;
    border: 1px solid #3e3e3e;
    margin-top: 2em;
}

#forgot-password-form,
#forgot-password h3 {
    padding: .8rem;
}

#forgot-password h3 {
    font-size: 1.8rem;
}

#forgot-password-form input[type="email"] {
    border: 1px solid rgb(109, 109, 109);
    color: #3e3e3e;
    margin-bottom: 2rem;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif !important;
}

#forgot_password_submit {
    padding: .3rem 2.5rem;
    border: 0;
    background-color: aliceblue;
    color: black !important;
    font-family: main-font !important;
    cursor: pointer;
    font-size: 1.6rem;
    margin-bottom: 0;
    border: 1px solid rgb(109, 109, 109);
}